h1, h2 {
    color: blueviolet;
    font-size: 40px;
}

.box > p{
    font-size: 25px;
    color: red;
}

.box {
    padding: 10px;
    margin-bottom: 20px;
}


.list li:nth-child(1) {
    color: blue;
}

.list li:nth-child(2),
.list li:nth-child(3) {
    color: green;
}

ul p {
    color: black;
}

p.done {
    color: black;
}
