body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #c0dcc2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #7f9580;
    color: #051501;
    padding: 20px;
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

section {
    background-color: #ebf9eb;
    border-radius: 5px;
    box-shadow: 0 2px 4px #0000001a;
    margin: 20px;
    padding: 20px;
    width: 300px;
}

img {
    max-width: 100%;
    height: auto;
}