@media screen and (min-width: 1250px) {
    body {
        margin: 0;
        padding: 0;
    }
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

section {
    background-color: #e1e1e1;
    margin: 10px;
    padding: 10px;
    width: 300px;
}

button {
    background-color: #f75105;
    border-radius: 5px;
    color: white;
    border: none;
    padding: 5px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

p {
    text-align: center;
    font-family: "Itim", cursive;
    font-style: normal;
    font-weight: 700;
}

h3 {
    text-align: center;
    font-family: "Itim", cursive;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
}

h6 {
    text-align: center;
    font-family: "Itim", cursive;
    font-style: normal;
}