img {
    height: 200px;
    width: 200px;
}
#Rojo {
    color: red;

}

#Azul {
    color: blue;
}

#Anaranjado {
    color: orange;
}

#Verde {
    color: green;
}

#Amarillo {
    color: yellow;
}