.box1 {
    height: 200px;
    width: 200px;
    background-color: cadetblue;
    padding: 20px;
    border: 10px solid #000;
}

.box2 {
    height: 200px;
    width: 200px;
    background-color: goldenrod;
    border-top: 20px solid #000;
    border-left: 10px solid #000;
    border-bottom: 20px solid #000;
    border-right: 10px solid #000;
    margin-left: 260px;
}

.box3 {
    height: 200px;
    width: 200px;
    background-color: indianred;
    border: 10px solid #000;
    margin-left: 40px;
}